@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: Outfit
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(to right, #00008B, #FF1493);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}